html{
    background-color: #adc6db;
}

.left{
    display: flex;
    float: left;
    width: 48%;
    height: 100vh;
    border: 2px solid black;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: end;
}

#right{
    display: flex;
    float: right;
    width: 48%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom: 5px;
}

.slider{
    display: flex;

}

#title{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 100px;
    font-family: din-round,sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
}

.cell{
    display: flex;
    justify-content: center;
    background-color: white;
}

.row{
    display: flex;
}

#grid{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin: 45px;
}

#button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    margin: 15px;
}



/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-bottom: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

#color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #color::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
  #color::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }