html{
    background-color: #a5cec8;
}

.left{
    display: flex;
    float: left;
    width: 48%;
    height: 100vh;
    border: 2px solid black;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: end;
}

#right{
    display: flex;
    float: right;
    width: 48%;
    height: 100vh;
    border: 2px solid black;
    margin-bottom: 5px;
}

.slider{
    display: flex;

}

#title{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.cell-5x5{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: white;
}

.cell-9x9{
    display: flex;
    justify-content: center;
    width: 66px;
    height: 66px;
    background-color: white;
}


.cell-16x16{
    display: flex;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: white;
}

.cell-64x64{
    display: flex;
    justify-content: center;
    width: 9px;
    height: 9px;
    background-color: white;
}

.cell-100x100{
    display: flex;
    justify-content: center;
    width: 6px;
    height: 6px;
    background-color: white;
}

.row{
    display: flex;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin: 45px;
}

#button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    margin: 15px;
}
