html{
    background-color: #a5cec8;
}

.left{
    display: flex;
    float: left;
    width: 48%;
    height: 100vh;
    border: 2px solid black;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: end;
}

#right{
    display: flex;
    float: right;
    width: 48%;
    height: 100vh;
    border: 2px solid black;
    margin-bottom: 5px;
}

.slider{
    display: flex;

}

#title{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.cell-5x5{
    display: flex;
    justify-content: center;
    width: 102px;
    height: 102px;
    border: 1px solid black;
    background-color: white;
}

.cell-9x9{
    display: flex;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid black;
    background-color: white;
}


.cell-16x16{
    display: flex;
    justify-content: center;
    width: 33px;
    height: 33px;
    border: 1px solid black;
    background-color: white;
}

.cell-64x64{
    display: flex;
    justify-content: center;
    width: 8px;
    height: 8px;
    border: 1px solid black;
    background-color: white;
}

.cell-100x100{
    display: flex;
    justify-content: center;
    width: 4px;
    height: 4px;
    border: 1px solid black;
    background-color: white;
}

.row{
    display: flex;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin: 45px;
}

#button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    margin: 15px;
}
